@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "select2";
@import "select2-bootstrap";

body {
  padding-top: 50px;
}

.icon-preview {
  width: 124px;
  height: 124px;
  border: 1px solid black;
}

svg {
  width: 100px;
  height: 100px;
}
