<div class="page-header">
  <h1>Create a new icon</h1>
</div>
<div class="row">
  <div class="col-xs-8">
    <%= render 'icons/form' %>
  </div>
  <div class="col-xs-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        Icon Help
      </div>
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet maximus ornare.
        Duis sed commodo enim, vitae posuere quam. Cras ultrices ut erat ut ultrices. Suspendisse
        ac diam lacus. Mauris eget ipsum vel nisl condimentum scelerisque id ut erat. Vivamus
        bibendum nec sapien ut gravida. Sed mi purus, cursus in sodales sed, bibendum quis lacus.
        Cras vitae suscipit ex.
      </div>
    </div>
  </div>
</div>
